PERIODICITY=30s
CRYPTO_COMPARE_API_HOST=https://min-api.cryptocompare.com
CRYPTO_COMPARE_API_KEY=
PRICE_ALERT_SERVICE_HOST=host.docker.internal:8081
NOTIFICATION_SERVICE_HOST=http://host.docker.internal:8082